.main-container{
  display: grid;
}

@media (min-width: 576px) {
  body {
    background-color: #f36704;
  }
  .main-container {
    background-color: #00ab90;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "heading heading"
      "name-email image1"
      "comments image1"
      "bday image1"
      "image2 hear-about"
      "image2 contact"
      "image2 buttons";
  }
}

@media (max-width: 575px) {
  .main-container {
    background-color: #0889b9;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "heading"
      "name-email"
      "comments"
      "bday"
      "hear-about"
      "contact"
      "buttons";
  }
  .image-1{
    display: none;
  }
  .image-2{
    display: none;
  }
}

.heading{
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-email{
  grid-area: name-email;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments{
  grid-area: comments;
}

.comment-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-1{
  grid-area: image1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bday{
  grid-area: bday;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.bday1-flex{
  grid-column: 2/4;
}

.bday2-flex{
  grid-column: 2/3;
}

.bday3-flex{
  grid-column: 3/4;
  grid-row: 2/3;
}

.bday4-flex{
  grid-column: 2/4;
}

.hear-about{
  grid-area: hear-about;
}

.contact{
  grid-area: contact;
}

.image-2{
  grid-area: image2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 15px;
}

.buttons{
  grid-area: buttons; 
}

textarea {
  resize: none;
}