.main-container{
  display: grid;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  border: 2px solid #990401;
  border-radius: 12px;
  padding: 5px;
}

@media (min-width: 576px) {
  body {
    background-color: #f36704;
  }
  .main-container {
    background-color: #00ab90;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "heading heading"
      "name-email image1"
      "comments image1"
      "bday image1"
      "image2 hear-about"
      "image2 contact"
      "image2 buttons";
  }
}

@media (max-width: 575px) {
  .main-container {
    background-color: #0889b9;
    padding: 0px 15px 15px 0px;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "heading"
      "name-email"
      "comments"
      "bday"
      "hear-about"
      "contact"
      "buttons";
  }
  div.image-1{
    display: none;
  }
  div.image-2{
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
}

.heading{
  font-family: 'Noto Serif', serif;
  font-size: 22px;
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.name-email{
  grid-area: name-email;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus{
  outline-color:#990401;
}

textarea{
  outline-color:#990401;
}

.comments{
  grid-area: comments;
}

.comment-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.image-1{
  grid-area: image1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bday{
  grid-area: bday;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}

.bday1-flex{
  grid-row: 2/5;
  grid-column: 2/6;
  padding-bottom: 25px;
}

.bday2-flex{
  grid-column: 2/4;
  grid-row: 4/5;
}

.bday3-flex{
  grid-column: 4/6;
  grid-row: 4/5;
}

.bday4-flex{
  grid-column: 3/5;
  grid-row: 6/7;
}

.hear-about{
  grid-area: hear-about;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.hear-about-grid{
  grid-column: 2/3;
  grid-row: 2/3;
}

.classmate{
  grid-column: 2/3;
  grid-row: 3/4;
}

.resume{
  grid-column: 2/3;
  grid-row: 4/5;
}

.linked-in{
  grid-column: 2/3;
  grid-row: 5/6;
}

.rec{
  grid-column: 2/3;
  grid-row: 6/7;
}

.contact{
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.contact-title{
  grid-column: 2/4;
}

.contact-yes{
  grid-column: 2/3;
  grid-row: 3/4;
}

.contact-no{
  grid-column: 3/4;
  grid-row: 3/4
}

.image-2{
  grid-area: image2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 15px;
}

.buttons{
  grid-area: buttons; 
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;  
}

.button-try-again{
  grid-column: 2/3;
}

.button-submit{
  grid-column: 3/4;
}

textarea {
  resize: none;
}